<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>jspServletJdbcExample</display-name>

    <!-- This is a context init parameter -->
    <context-param>
        <param-name>recordsPerPage</param-name>
        <param-value>5</param-value>
    </context-param>
    <context-param>
        <param-name>page</param-name>
        <param-value>1</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>jsp/home.jsp</welcome-file>
    </welcome-file-list>

</web-app>